.container {
  width: 375px;
  height: 667px;
  border: 3px solid brown;
  position: absolute;
}

p {
  font-size: 18px;
  color: black;
  font-weight: 800;
}

h2 {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: 'Space Grotesk', sans-serif;
}

nav {
  background-color: lightblue;
  height: 6rem;
}

.cocktails-text {
  font-weight: 900;
}

img:hover,
.cocktails-text:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.nav-bar {
  width: 100%;
  color: #eb5757;
  font-weight: 900;
  font-size: 30px;
  font-style: italic;
  padding-top: 1rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.slideshow-img,
.first {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-top: 2rem;
}

.bottom-nav {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.icon-text {
  margin-top: 0;
}

.right-arrow {
  position: absolute;
  right: 0;
  top: 45%;
}

.left-arrow {
  position: absolute;
  left: 0;
  top: 45%;
}

.right-arrow,
.left-arrow {
  transform: scale(3);
  margin: 0 1rem;
}

.right-arrow:hover,
.left-arrow:hover {
  cursor: pointer;
}

.right-arrow:active {
  transform: translateX(0.5rem) scale(3);
  color: blue;
}

.left-arrow:active {
  transform: translateX(-0.5rem) scale(3);
  color: blue;
}

.random {
  transform: translateY(1.5rem);
  border-radius: 10px;
}
